<style type="text/css">
    body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin:0 !important;
        width: 100% !important;
        -webkit-text-size-adjust: 100% !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-font-smoothing: antialiased !important;
    }
    .tableContent img {
        border: 0 !important;
        display: block !important;
        outline: none !important;
    }
    ul{
        margin:0;
    }
    p{
        color:#777070;
        font-size:15px;
        line-height:19px;
        margin:0;
    }
    h2,h1{
        color:#555555;
        font-size:21px;
        font-weight:normal;
        margin: 0;
    }

    h2.white{
        color:#ffffff;
    }

    a{
        color:#000000;
    }

    a.link1{
        font-size:13px;
        color:#3892E3;
    }
    a.link2{
        padding:8px;
        background:#52619E;
        font-size:13px;
        color:#ffffff;
        text-decoration:none;
        font-weight:bold;
    }
    a.link3{
        color:#52619E;
        font-size:13px;
        font-weight:bold;
        text-decoration:none;
    }

    .bgBody{
        background: #F6F6F6;
    }
    .bgItem{
        background: #ffffff;
    }


</style>

<script type="colorScheme" class="swatch active">
    {
    "name":"Default",
    "bgBody":"F6F6F6",
    "link":"ffffff",
    "color":"999999",
    "bgItem":"ffffff",
    "title":"555555"
    }
</script>
<body class='bgBody' leftpadding="0" offset="0" paddingheight="0" paddingwidth="0" style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" toppadding="0">
    <table align="center" class='bgBody' border="0" cellpadding="0" cellspacing="0" class="tableContent" width="100%">
        <tbody>
            <tr>
                <td valign="top">
                    <table align="center" class='bgBody' border="0" cellpadding="0" cellspacing="0" style="font-family:helvetica, sans-serif;" width="600">
                        <tbody>
                            <tr>
                                <td width="20">
                                </td>
                                <td>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
                                        <!--  =========================== The header ===========================  -->
                                        <tbody>



                                            <!--  =========================== The body ===========================  -->
                                            <tr>
                                                <td class="movableContentContainer">
                                                    <!--  ==== movable content in the body ===  -->

                                                    <div class="movableContent">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="560">
                                                            <tr>
                                                                <td height="25">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" valign="middle">
                                                                                    <div class="contentEditableContainer contentImageEditable">
                                                                                        <div class="contentEditable">
                                                                                            <a href="http://www.ratetrade.ca" target="_blank">
                                                                                                <img alt="Company logo" data-default="placeholder" data-max-width="300" height="38" src="http://www.ratetrade.ca/symfonyratetrade/web/bundles/mainratetrade/images/ratetrade.png" width="180" style="padding-bottom:20px;"/>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td align="right" valign="top">
                                                                                    <div class="contentEditableContainer contentImageEditable" style="display:inline-block;">
                                                                                        <div class="contentEditable">&nbsp;</div>
                                                                                    </div>
                                                                                </td>
                                                                                <td align="right" valign="top" width="18">
                                                                                    <div class="contentEditableContainer contentImageEditable" style="display:inline-block;">
                                                                                        <div class="contentEditable">&nbsp;</div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="movableContent">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="560">
                                                            <tr>
                                                                <td align="right" bgcolor="#2D3867" style="padding:20px;">
                                                                    <div class="contentEditableContainer contentTextEditable">
                                                                        <div class="contentEditable">
                                                                            <p style="color:#ffffff;font-size:16px;line-height:19px;">
                                                                                Compare Rates and Services.</p>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>


                                                    <div class="movableContent">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="560">
                                                            <tbody>
                                                                <tr>
                                                                    <td height="25">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table align="center" class='bgItem' border="0" cellpadding="0" cellspacing="0" style="border:1px solid #dddddd" valign="top" width="558">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td colspan="3" height="16">
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="16">
                                                                                    </td>
                                                                                    <td>
                                                                                        <table align="center" class='bgItem' border="0" cellpadding="0" cellspacing="0" valign="top" width="526">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="left" valign="top">
                                                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                                                            <div class="contentEditable">
                                                                                                                <h2>Thank You</h2>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td height="13">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td align="left" valign="top">
                                                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                                                            <div class="contentEditable">
                                                                                                                <p style="text-align:justify;">
                                                                                                                    We have received your details and would like to thank you for being a part of Ratetrade.  If any queries please feel to contact Ratetrade at contact@ratetrade.ca.
                                                                                                                    <br/><br/>
                                                                                                                    Ratetrade.ca.
                                                                                                                </p>
                                                                                                                <br/><br/>
                                                                                                                <table>
                                                                                                                    <tr>
                                                                                                                        <td>Username</td>
                                                                                                                        <td>&nbsp;&nbsp;</td>
                                                                                                                        <td>{{username}}</td>
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td>Password</td>
                                                                                                                        <td>&nbsp;&nbsp;</td>
                                                                                                                        <td>{{password}}</td>
                                                                                                                    </tr>
                                                                                                                </table>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td height="20">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td align="left" style="padding-bottom:8px;" valign="top">
                                                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                                                            <div class="contentEditable">
                                                                                                                <a target='_blank' href="http://www.ratetrade.ca/mortgage-broker-login" class='link2' style='padding: 8px;
                                                                                                                   background: #52619E;
                                                                                                                   font-size: 13px;
                                                                                                                   color: #ffffff;
                                                                                                                   text-decoration: none;
                                                                                                                   font-weight: bold;'>Login</a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td width="16">
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td colspan="3" height="16">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                    <div class='movableContent'>
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
                                                            <tr>
                                                                <td height="30">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td bgcolor="#52619E">
                                                                    <table align="center" bgcolor="#52619E" border="0" cellpadding="0" cellspacing="0" width="560">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" bgcolor="#52619E" valign="top" width="416">
                                                                                    <table align="center" bgcolor="#52619E" border="0" cellpadding="0" cellspacing="0" width="416">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td colspan="3" height="28">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="30">
                                                                                                </td>
                                                                                                <td valign="middle">
                                                                                                    <div class="contentEditableContainer contentTextEditable">
                                                                                                        <div class="contentEditable">
                                                                                                            <p style="color:#ffffff;font-size:14px;line-height:19px;">
                                                                                                                Stay in Touch!</p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td width="10">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" height="28">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td align="center" bgcolor="#3E4A7F" valign="top" width="72">
                                                                                    <table align="center" bgcolor="#3E4A7F" border="0" cellpadding="0" cellspacing="0" width="72">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="center" bgcolor="#3E4A7F" height="72" valign="middle" width="72">
                                                                                                    <div class="contentEditableContainer contentFacebookEditable">
                                                                                                        <div class="contentEditable" valign="middle">
                                                                                                            <a target='_blank' href="https://www.facebook.com/RateTradeBestMortgageRate/"><img alt="facebook link" data-default="placeholder" data-max-width="37" height="37" src="http://www.ratetrade.ca/symfonyratetrade/web/bundles/mainratetrade/images/facebook.png" width="37" data-customIcon="true"/></a></div>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td align="center" bgcolor="#2D3867" valign="top" width="72">
                                                                                    <table align="center" bgcolor="#2D3867" border="0" cellpadding="0" cellspacing="0" height="72" width="72">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="center" bgcolor="#2D3867" height="72" valign="middle" width="72">
                                                                                                    <div class="contentEditableContainer contentTwitterEditable">
                                                                                                        <div class="contentEditable" valign="middle">
                                                                                                            <a target='_blank' href="https://twitter.com/RatetradeCanada"><img alt="twitter link" data-default="placeholder" data-max-width="37" height="37" src="http://www.ratetrade.ca/symfonyratetrade/web/bundles/mainratetrade/images/twitter.png" data-customIcon="true" width="37" /></a></div>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class='movableContent'>
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
                                                            <tr>
                                                                <td height="28">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top">
                                                                    <div class="contentEditableContainer contentTextEditable">
                                                                        <div class="contentEditable">
                                                                            <p style="color:#A8B0B6; font-size:13px;line-height: 16px;">
                                                                                &nbsp;</p>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                    <div class='movableContent'>
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
                                                            <tr>
                                                                <td height="28">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top">
                                                                    <div class="contentEditableContainer contentTextEditable">
                                                                        <div class="contentEditable">
                                                                            <p style="color:#A8B0B6; font-weight:bold;font-size:13px;line-height: 30px;">
                                                                                Ratetrade.ca</p>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>


                                                </td>
                                            </tr>
                                            <!--  =========================== The footer ===========================  -->



                                            <tr>
                                                <td height="28">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="20">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!--Default Zone End-->
</body>
