<meta name="google-site-verification" content="wYAwhC5xqtQVWLT6wOTtxNy2Dss-bWKHtqx1625zcgw" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90599640-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body id="home" class="wide">

<!-- WRAPPER -->
<div class="wrapper">
<div class="topbbar"> <ul class="social-icons">
                                        
                                    </ul></div>
    <!-- HEADER -->
    <header class="header fixed">
        <div class="header-wrapper">
            <div class="container">

                <!-- Logo -->
                <div class="logo">
                    <a href="https://www.ratetrade.ca"><img src="{{asset('./bundles/assets/img/logo.png')}}" alt="Ratetrade"/></a>
                </div>
                <!-- /Logo -->

                <!-- Mobile menu toggle button -->
                <a href="#" class="menu-toggle btn ripple-effect btn-theme-transparent"><i class="fa fa-bars"></i></a>
                <!-- /Mobile menu toggle button -->

                <!-- Navigation -->
                <nav class="navigation closed clearfix">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!-- navigation menu -->
                            <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                            <ul class="nav sf-menu">
                                <li class="active"><a href="https://www.ratetrade.ca"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                                <li><a href="#"><i class="fa fa-calculator" aria-hidden="true"></i> Mortgage</a>
                                   <ul>
<li><a href="https://ratetrade.ca/bank-mortgage-rates"><i class="fa fa-university" aria-hidden="true"></i> Bank Mortgage Rates</a></li>
                                     <li><a href="#"><i class="fa fa-calculator" aria-hidden="true"></i> Calculators</a>
                                          <ul>
                                             <li><a href="https://www.ratetrade.ca/mortgage-payment-calculator">Mortgage Payment</a></li>
                                             <li><a href="https://www.ratetrade.ca/payment-analyzer-calculator">Payment Analyzer</a></li>
                                             <li><a href="https://www.ratetrade.ca/income-calculator">Income Calculator</a></li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-affordability">Mortgage Affordability</a></li>
                                             <li><a href="https://www.ratetrade.ca/cmhc-insurance-calculator">Mortgage Insurance</a></li>
                                             <li><a href="https://www.ratetrade.ca/land-transfer-tax">Land Transfer Tax</a></li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-refinance-calculator">Refinance Calculator</a></li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-refinance-equity">Refinance Equity</a></li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-refinance-penalty">Refinance Penalty</a></li>
                                             <li><a href="https://www.ratetrade.ca/debt-consolidation-refinance-calculator">Debt Consolidation</a></li>
                                          </ul>
                                     </li>   
                                
        			     <li><a href="https://www.ratetrade.ca/buying-home-canada"><i class="fa fa-book"></i> Home Buying Process</a>
                                          <ul>
    <li><a href="https://www.ratetrade.ca/creditworthiness">Credit Worthiness</a></li>
     <li><a href="https://www.ratetrade.ca/mortgage-affordability-rules">Mortgage Affordability Rules</a></li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-down-payment">Mortgage Down Payment</a></li>

 <li><a href="https://www.ratetrade.ca/mortgage-default-insurance">Mortgage Default Insurance</a></li>
   <li><a href="https://www.ratetrade.ca/mortgage-payment-frequency">Mortgage Payment Frequency</a></li>

 <li><a href="#">Steps to get the key to your dream house</a>
<ul>
<li><a href="https://www.ratetrade.ca/tax-credit-first-time-home-buyers">First Time Home Buyers</a></li>
                                             <li><a href="https://www.ratetrade.ca/home-buying-process">Home Buying Process</a></li>
</ul>
</li>

  <li><a href="https://www.ratetrade.ca/land-transfer-tax-rebate">Land Transfer Tax Rebate</a>
<ul>
<li><a href="https://www.ratetrade.ca/closing-cost">Closing Cost</a></li>
</ul>

</li> 
     <li><a href="https://www.ratetrade.ca/registered-requirement-saving-plan">R R S P</a></li>
                                             
                                     
                                          </ul>
                                     </li>  
 
        			     <li><a href="https://www.ratetrade.ca/renewing-guide"><i class="fa fa-book"></i> Renewing Your Mortgage</a>
                                          <ul>
                                             <li><a href="https://www.ratetrade.ca/mortgage-renewal-process">Mortgage Renewal Process</a></li>
                                             <li><a href="https://www.ratetrade.ca/early-mortgage-renewal">Early Mortgage Renewal</a></li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-renewal-denial-situations-impact">Renewal Denial Situations</a></li>
                                             <li><a href="https://www.ratetrade.ca/switching-lenders">Switching Lenders</a></li>
                                          </ul>
                                     </li>   
        			     <li><a href="https://www.ratetrade.ca/mortgage-refinancing-guide"><i class="fa fa-book"></i> Mortgage Refinancing Guide</a>
                                          <ul>
                                             <li><a href="https://www.ratetrade.ca/reasons-to-refinance">Reasons to Refinance</a></li>
                                             <li><a href="https://www.ratetrade.ca/blended-mortgage">Blended Mortgage</a></li>
                                             <li><a href="https://www.ratetrade.ca/home-equity-line-of-credit">Home Equity Line of Credit</a></li>
                                             <li><a href="https://www.ratetrade.ca/cost-to-refinance">Cost to Refinance?</a></li>
                                             <li><a href="https://www.ratetrade.ca/disadvantages-of-mortgage-refinancing">Disadvantages</a></li>
                                          </ul>
                                     </li>
<li><a href="https://www.ratetrade.ca/mortgage-information-center"><i class="fa fa-book"></i> Mortgage Information Center</a>
                                          <ul>
                                                <li><a href="https://www.ratetrade.ca/gross-debt-ratio">Gross Debt Ratio</a></li>
                                            </ul>
                                     </li>     
                                   </ul>    
                                </li>
                                <li><a href="#"><i class="fa fa-podcast" aria-hidden="true"></i> Insurance</a>
                               </li>                                           
                            </ul>
                            <!-- /navigation menu -->
                        </div>
                    </div>
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar"></div>
                </nav>
                <!-- /Navigation -->

            </div>
        </div>

    </header>
    <!-- /HEADER -->