@charset "utf-8";
/* CSS Document */

body
{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

/***************** header / menu ********************/
h1, h4, h3, h5, h6
{
    font-family: 'Lato', sans-serif;
}
header, section, footer, article, aside
{
    display:block;
}

header
{
}
.banner
{
    background: url(../images/banner1.png) bottom center no-repeat;
    background-size:cover;
    padding:  30px 0;
	height:400px;
}
.banner-text
{
    font-size: 1.5em;
    color:rgba(255,255,255,1.00);
    padding: 20px;
    text-shadow: 0px 3px 1px #222;
    text-align:center;
    margin:0;
}
.bdr-r
{
    border-right: 1px solid #CBCBCB;
    padding-right: 50px;
}
.fnd-h3
{
    padding: 10px 0;
}
.desk-menu
{
    display:block;
}
.mobi-menu
{
    display: none;
}
header .top-area
{
    background: #0185C6;
    padding:5px 0;
	color:#fff;
}
header .top-area a
{
    color: #FFF;
}

header .navbar
{
    background:#e8e8e8;
    border-radius: 0;
    border-bottom: 1px solid #BDBDBD;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    margin-bottom: 0;
    padding: 5px;
}

header .navbar .navbar-header .navbar-brand
{
    color: rgba(255,255,255,1.00);
    font-size: 25px;
}
header .navbar .logo
{

}
header .navbar .logo span
{
    line-height: 57px;
    font-size: 39px;
    color: rgb(107, 157, 168);
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-style: italic;
}
/*header .navbar .navbar-nav li
{
        
        border-left: 2px solid #FCFCFC;
}
header .navbar .navbar-nav li.right-end
{
        
        border-right: 2px solid #FCFCFC;
}*/
header .navbar .navbar-nav li a
{
    color: #2c2d2d;
    font-size: 17px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
	font-weight:bold;
}
header .navbar .navbar-nav li.active a
{
    color: #EB6C27;
    background:#EB6C27;
}
header .navbar .navbar-nav li a:hover
{
    color: #EB6C27;
}
header .navbar .navbar-nav li.active a:hover
{
    color: #EB6C27;
    background:#EB6C27;
}
header .navbar .navbar-nav .dropdown ul
{
    display:none;
    position:absolute;
    z-index: 999;
    background: rgba(255,255,255,1.00);
    box-shadow: 0 2px 3px 1px #7C7C7C;
    list-style: none;
    padding-left:0;
}
.form-group {
    float: left;
    margin-right: 18px;
    max-width: 100%;
    width: 390px;
}
.form-group.form-group1 {
    width: 100%;
}
.form-group1 input {
    width: 98%;
}
.title-style1 {
    background: #606060 none repeat scroll 0 0;
    color: #fff;
    font-size: 21px;
    margin-left: 10px;
    padding: 7px;
    text-align: center;
}
header .navbar .navbar-nav .dropdown:hover.desk-menu .sub-menu-div
{
    display:block;
}
header .navbar .navbar-nav .dropdown .sub-menu-div li
{
    position:relative;
}
header .navbar .navbar-nav .dropdown .sub-menu-div li a
{
    background: #0185C6;
    border: none;
    display:block;
    white-space:nowrap;
    text-align:justify;
    margin:0;
    padding: 15px 30px 15px 15px;
    font-size:20px;
    color:#FFF;
}
header .navbar .navbar-nav .dropdown .sub-menu-div li a:hover
{
    background: #EB6C27;
    text-decoration:none;
    border-top: 1px solid #DFC9CA;
}
header .navbar .navbar-nav .dropdown .sub-menu-div li ul
{
    display: none;
    position:absolute;
    z-index: 9991;
    right:auto;
    left:100%;
    top:0;
    background: rgba(33,121,203,1.00);
    width: 281px;
    border: 1px solid #DFC9CA;

}
header .navbar .navbar-nav .dropdown .sub-menu-div li a
{

}
header .navbar .navbar-nav .dropdown .sub-menu-div li a:hover
{
    color:rgba(255,255,255,1.00);
}
header .navbar .navbar-nav .dropdown .sub-menu-div li a i.f-r
{
    position:absolute;
    right: 8px;
    padding-top: 3px;
}
header .navbar .navbar-nav .dropdown .sub-menu-div li ul li a
{
    display: block;
    white-space:nowrap;
    color:#FFF;
    padding: 10px 20px;
}
header .navbar .navbar-nav .dropdown .sub-menu-div li ul li a:hover
{
    background:#EB6C27;
    border:1px solid rgba(239,239,239,1.00);

}
header .navbar .navbar-nav .dropdown.desk-menu .sub-menu-div li:hover ul
{
    display:block;
}
.rates
{

    padding: 10px 20px;
    margin: 0 0 5px;
    border-radius: 3px;
    display:inline-block;
    white-space:nowrap;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
}
.rates
{
    text-align:left;
}
.rates span
{
    color:rgba(0,0,0,1.00) !important;
    font-weight:600;
    text-decoration:none;
    margin-top: 5px;

}

.rates:hover
{
    background: #46708B !important;
    transition: background 0.5s ease-in 0.2s;
    -webkit-transition: background 0.5s ease-in 0.2s;
    -o-transition: background 0.5s ease-in 0.2s;
    -moz-transition: background 0.5s ease-in 0.2s;
    color: #FFFFFF;
    text-decoration:none;
}
header .navbar .navbar-nav .dropdown .sub-menu-div ul
{
    list-style: none;
    text-align:left;
    padding-left: 0;
}
header .navbar .navbar-nav .dropdown .sub-menu-div ul li a
{
    border: none;
    text-transform:capitalize;
}
/************************** sub-menu-div1 ****************/
header .navbar .navbar-nav .dropdown:hover .sub-menu-div1
{
    display:block;
}
header .navbar .navbar-nav .dropdown .sub-menu-div1 li a
{
    padding: 15px 30px 15px 15px;
    font-size:18px;
    color:rgba(65,62,139,1.00);
    background: none;
    border: none;
    display:block;
    white-space:nowrap;
    text-align:justify;
    margin:0;
}
header .navbar .navbar-nav .dropdown .sub-menu-div1 li a:hover
{
    text-decoration: none;
    background:rgba(102,102,102,1.00);
    color:#fff;
}
header .navbar .navbar-nav .dropdown .sub-menu-div1 li a i.f-r
{
    position:absolute;
    right: 10px;
    padding-top: 3px;
}
header .navbar .navbar-nav .dropdown .sub-menu-div1 li
{
    position:relative;
}
header .navbar .navbar-nav .dropdown .sub-menu-div1 li ul
{
    display:none;
    position:relative;
}
header .navbar .navbar-nav .dropdown .sub-menu-div1 li:hover ul
{
    display:block;
}
header .navbar .navbar-nav .dropdown .sub-menu-div1 li ul li a
{
    display: block;
    white-space:nowrap;
    color:rgba(255,255,255,1.00);
    padding: 10px 20px;
}
header .navbar .navbar-nav .dropdown .sub-menu-div1 li ul li a:hover
{
    background:rgba(58,107,143,1.00);
    border:1px solid rgba(239,239,239,1.00);

}
header .navbar .navbar-nav .dropdown .sub-menu-div1 li ul li a
{
    color:rgba(255,0,4,1.00);
}
/***************** Mobile Query menu ****************/
@media only screen and (max-width: 991px)
{
    .bdr-r
    {
        border-right: none;
        border-bottom: 1px solid #BBBBBB;
        padding-bottom: 10px;
        margin-bottom: 10px;
        padding-right: 0;
    }
}
@media only screen and (max-width: 767px)
{

    header
    {
    }
    .banner
    {
        background: url(../images/little-family-cute.jpg) left bottom no-repeat;
    }
    .banner-text
    {
        font-size: 3em;
        color:rgba(255,255,255,1.00);
        padding: 10px 0 10px;
        text-shadow: 0px 3px 1px #222;
    }

    header .navbar
    {
        top: 0px;
    }


    /*	header .navbar .navbar-nav li
            {
                    
                    border-left: none;
            }
            
            header .navbar .navbar-nav li.right-end
            {
                    
                    border-right: none;
            }*/
    header .navbar .navbar-nav li a
    {
        color: rgba(130,126,126,0.94);
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 3px;
    }

    header .navbar .navbar-nav .dropdown .sub-menu-div
    {
        display:none;
        position: relative;
        z-index: 999;
        background: rgba(255,255,255,1.00);
        padding: 0;
        left:0px;
        width: 100%;
        box-shadow: 0 2px 3px 1px #7C7C7C;
        float:left;
    }

    header .navbar .navbar-nav .dropdown .sub-menu-div li ul
    {
        display: none;
        position:relative;
        z-index: 9991;
        background: rgba(33,121,203,1.00);
        border: 1px solid #DFC9CA;
        left:0;
        width: 100%;

    }
    header .navbar .navbar-nav .dropdown .sub-menu-div1
    {
        position:relative;
        z-index: 9991;
        border: 1px solid #DFC9CA;
        width: 100%;

    }

    .rates
    {

        background: #cc470d;
        border-radius: 3px;

    }
    header i.visible-xs {
        display: inline-block !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px)
{
    header .navbar .logo
    {
        text-align: center;
    }
    header .navbar .desk-menu .navbar-right
    {
        float:none !important;
    }
    header .navbar .navbar-nav li
    {
        border: 2px solid #EDEDED;
        margin: 0 2px ;
    }
    header .navbar .navbar-nav li a
    {
        color: rgba(255,255,255,1.00);
        font-size: 16px;
        font-weight: 600;
        //text-transform: uppercase;
        border-radius: 3px;
        padding-left: 25px;
        padding-right: 25px;
    }
    header .navbar .navbar-nav li.right-end
    {

        border: 2px solid #EDEDED;
    }
    header .navbar .navbar-nav .dropdown .sub-menu-div
    {
        display:none;
        position: absolute;
        z-index: 999;
        background: rgba(255,255,255,1.00);
        padding: 15px 0;
        left:-30px;
        width: 740px;
        box-shadow: 0 2px 3px 1px #7C7C7C;
        float:left;
    }


}

@media only screen and (min-width: 768px)
{
    header .navbar .desk-menu .navbar-nav .dropdown:hover .sub-menu-div
    {
        display:block;
    }
    #bs-example-navbar-collapse-1
    {
        display:none;
    }
}

/*************** Search Form Box *************/

.search-box {
    background: #1d1d1d;
    border: 1px solid #0b0b0b;
    height: 96px;
}
.search-box h3 {
    color: #f9f9f9;
    background: #0e0e0e;
    text-align: center;
    margin-top: 0;
    padding: 21px;
    margin-bottom: 0px;
}
.search-box .form-horizontal label
{
  color: #c3c3c3;
  font-size: 1.3em;
  font-weight: 300 !important;
  padding: 4px;
}
.col4.latesthead {
    background: #006698;
    width: 251px;
    padding: 43px 0;
    border: none;
}
.product-heading i {
    color: #eb6c27;
}
.search-box .form-class input[type=text]
{
    font-size: 18px;
    height: auto;
    padding: 10px 30px;
    border: 2px solid rgba(27,70,102,1.00);
    border-radius: 6px 0 0 6px;
    text-align:center;
}
.search-box .form-class span
{
    background: rgba(27,70,102,1.00); 
    margin:0;
    padding: 11px 2px;
    border-radius: 0 3px 3px 0;
}

.search-box .form-class span:hover
{
    cursor:pointer;
}
.search-box .form-class span i.fa
{
    color: rgba(255,255,255,1.00);}

.search-box .form-class span i.glyphicon
{
    font-size:25px;
    color:#E9FF07;
}
.search-box .navbar-form .form-group input[type=text]
{
    font-size: 20px;
    height: auto;
    border: 2px solid rgba(255, 166, 0, 1);
    position:relative;
}
.search-box .navbar-form .form-group input[type=text]
{
    text-align:center;
}
.search-box .navbar-form  button[type=submit]
{

    font-size: 20px;
    height: auto;
    border: 2px solid rgba(255, 166, 0, 1);
    background: rgba(255, 166, 0, 1);
    color: #FFF;
    margin-top: 10px;

}
.search-box .navbar-form  button[type=submit]:hover
{
    background: #C1C1C1;
    border: 2px solid  #C1C1C1;
}
#locationList
{
    padding: 10px;
    font-size: 14px;
}
.list-data
{
    display: none;
    position: absolute;
    padding: 10px;
    left: 55px;
    top: 143px;
    background: rgba(27,70,102,1.00);
    width: 73.8%;
}
.list-data ul
{
    padding: 10px;
    margin:0;
}
.list-data ul li
{
    list-style: none;
    color: #FFF;
    font-size:16px;
    text-align:left;
}
.list-data ul li:hover
{
    cursor: pointer;
}
.search-box-right
{
    padding: 10px;
    height: 125px;
}
.search-box-right h3
{
    font-size:28px;
}
.search-box-right h4
{
    color: rgba(255,255,255,1.00);
}
.btn-fixed
{
    padding: 10px 30px;
    color:rgba(255,255,255,1.00);
    background: none;
    border: 2px solid #FFFFFF;

}
.active-btn
{
    background:rgba(255,255,255,1.00) !important;
    color:rgba(27,41,67,1.00) !important;
    font-weight: bold;
    border: 2px solid #FFFFFF !important;
}
.active-btn:hover
{
    color:rgba(0,0,0,1.00)
}
.btn-varia
{
    padding: 10px 30px;
    background: none;
    border: 2px solid #FFFFFF;
    color:rgba(255,255,255,1.00);
}
#variaTab
{
    display:none;
}
@media screen and (min-width: 1200px)
{
    .search-box-right
    {
        padding: 10px;
        height: 149px;
    }
}
.location
{
    display:none;
    position: absolute;
    top: -8px;
    left: 352px;
    font-size: 20px;
    height: auto;
    padding: 8px 15px;
    border: 2px solid rgba(255, 166, 0, 1);
    width:248px;
    float:left;

}
#locations
{
    z-index: 9999;
}
.loclist
{
    display: none;
}

/**************** rates-content ****************/
.rates-content
{
    padding: 60px 0 90px;
    border-top: 2px solid rgba(27,70,102,1.00);
}
.rates-content .top-rate-head h1
{
    margin-bottom: 25px;
    font-size: 36px;
    color: cornflowerblue;
    //text-transform:uppercase;
    padding: 10px 0;
    font-weight: 700;
}
.rates-box
{
    text-align:center;
    border-radius: 3px;
    margin-bottom: 30px;
}
.rates-box .rates-heading
{
    padding: 10px 0;
    border-bottom: 1px solid #999;
    font-size: 16px;
    font-weight: 600;
    //text-transform: uppercase;
}
.rates-box .rates-percent
{
    padding: 5px 0;
    width: 100%;
    height:auto;
}

.rates-box .rates-percent a#rate_pop
{
    font-size: 40px;
    line-height: 60px;
    text-align:center;
    color: #FFFFFF;
}
.rates-box .rates-percent sup
{
    font-size: 106%;
    line-height:3;
}
.rates-box .get-rate
{
    display:block;
    padding:10px 0;
}
.rates-box .get-rate a
{
    border-radius: 3px;

}
.rates-box .get-rate .btn-danger
{
    background-color: #cc470d;
    padding: 5px 30px;
}
.rates-box .get-rate .btn-danger:hover
{
    background-color: #FFBE00;
    border: 1px solid #FFBE00;
}

.rates-content .carousel-inner
{
    background: rgba(237,215,215,1.00)	;
    border-radius: 6px;
}
.rates-content .carousel-control {

    width: 15%;

}
.rates-content .carousel-control.left, .rates-content .carousel-control.right {
    background:none;
}
#demo
{
    padding: 10px 0 60px;
}
.color-1
{
    background:rgba(255,145,244,1.00) !important;
}
.color-3
{
    background: rgba(219,162,69,1.00) !important;
}
@media only screen and (max-width: 767px)
{
    .rates-box
    {
        margin-bottom: 20px;
    }
}
/***** how it works *** */

.topHowIt
{
    display:block;
    padding-bottom: 40px;
    border-bottom: 1px solid #C3C3C3;

}
/** Middle content  **/
.middle-content
{
    position:relative;
    display:block;
    background: #FFFFFF url(../images/bg-home-container.jpg) fixed;

}
.overlay-bg {
    background: rgba(0,0,0,0.2);
    padding: 73px;
}
.middle-content-contact
{
    padding: 10px 0 60px;
    position:relative;
    display:block;
    background: #FFFFFF;
}
.middle-content-contact .form-class
{
    border: 1px solid #f1f1f1;
    background:rgba(255,255,255,0.87);
       padding-left: 28px;
}
.form-class {
    padding: 33px 0;
}
.map
{
    border-top: 10px solid #9f9e9e;
    line-height: 0;
}
.middle-content-contact .address
{
    background:rgba(139,181,183,1.00);
    color:rgba(255,214,0,1.00);
    padding: 20px;
}
.middle-content-contact .address h2
{
    margin-top:0;
    color: rgba(255,255,255,1.00);
}
.on-hover
{
    padding: 25px;
}
.calculator
{
    display:block;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 0 3px 1px #8F8F8F;
}
.calc-heading {
    text-align: center;
    color: #fff;
    background: #0185C6;
    border-radius: 10px 10px 0 0;
}
.calc-heading h3
{
    margin:0;
}
.calc-heading i, .guide-heading i{
   color:#fff!important;	
}
.calc-image img
{
    border-bottom: 2px solid #FFFFFF;
    width:100%;
}
.calculator-link
{

    padding:0;
    background: rgba(237,237,237,0.96);
    border-radius: 0 0 3px 3px;


}
.calculator-link ul
{
    padding:30px;
    list-style: none;
    margin:0;

}
.calculator-link ul li:before
{
    //content:"\f054";
    font-family:FontAwesome;
    font-size: 16px;
    padding-right: 5px;
}
.calculator-link ul li a
{
    font-size:16px;
    color: #FF0004;
    font-family:'Roboto', sans-serif;
    font-weight:300;
}


.guide
{
    display:block;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 0 3px 1px #8F8F8F;
}
.guide-heading
{
    text-align: center;
    color: #fff;
    background: #0185C6;
    border-radius: 10px 10px 0 0;
}
.guide-heading h3
{

    margin:0;
}
.guide-image img
{

    border-bottom: 2px solid #FFFFFF;
    width:100%;
}
.guide-link
{

    padding:0;
    background: rgba(237,237,237,0.96);
    border-radius: 0 0 3px 3px;
}
.guide-link ul
{
    padding:30px;
    list-style: none;
    margin:0;

}
.guide-link ul li:before
{
    //content:"\f054";
    font-family:FontAwesome;
    font-size: 16px;
    padding-right: 5px;
}
.guide-link ul li a
{
    font-size:16px;
    color: #FF0004;
    font-family:'Roboto', sans-serif;
    font-weight:300;
}
.product
{
    display:block;
    padding: 10px;
    border: 1px solid #FFFFFF;
}
.product-heading
{
    text-align:center;
    color: rgb(1, 133, 198);
    border-radius: 3px 3px 0 0;
}
.product-heading h3
{
    margin:0;
    padding: 20px 0 30px;
    font-size: 30px;
}
.product-image
{
    width: 45%;
    float:left;
    display:block;
}
.product-image img
{

    border-bottom: 2px solid #FFFFFF;
    width:100%;
}
.product-link
{
    border-radius: 0 0 3px 3px;
    width: 55%;
    float:left;
    display:block;
    padding: 10px;
}
.product-link p
{
    text-align: justify;
    padding: 0 10px 10px;
}
.product-link ul
{
    list-style: none;
    margin:0;
    padding-left:10px;

}
.product-link ul li:before
{
    //content:"\f054";
    font-family:FontAwesome;
    font-size: 16px;
    padding-right: 5px;
}
.product-link ul li a
{
    font-size:16px;
    color: #FF0004;
    font-family:'Roboto', sans-serif;
    font-weight:300;
}

@media screen and (max-width: 767px)
{
    .calculator
    {
        margin-bottom: 10px;
    }
    .guide
    {
        margin-bottom: 10px;
    }
    .product
    {
        margin-bottom: 10px;
    }
}

/******** middle-bottom *************/
.middle-bottom
{
    width: 100%;
    display:inline-block;
}
.no-mrg
{
    margin:0;
    padding: 60px;
    background:rgba(243,243,243,1.00);
}
.col2
{
    background:rgba(200,200,200,1.00);
}
.icon-top
{
    text-align:center;
}
.texts
{
    text-align:center;
}
.texts h3
{
    color: #00A3FF;
}
.bottom-button
{
    text-align:center;
}
/*** why choose us ***/

.whyus
{
    background: url(../images/pattern.png) no-repeat fixed;
    background-size:cover;
}
.whyus i {
    color: #fff;
    margin-right: 10px;
}
.down
{
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #FFFFFF;
    height: 0;
    left: 49%;
    position: absolute;
    top: 0;
    width: 0;
}
.whyus-inner
{
    background: #4c4c4c;
    padding: 30px 0 50px;
}
.whyus-head
{
    margin-bottom: 20px;
    color:rgba(255,255,255,1.00);
    font-size: 36px;
    font-family:'Oswald', sans-seri;
}
.whyus p
{
    font-size: 16px;
    color: rgba(255,255,255,1.00);
}
.why-box
{
    padding-left: 60px;
    padding-right: 60px;
}


/************ sidebar left ***************/
.sidebar-left
{
    margin-top: -250px;
    padding-right: 60px;
}
.sidebar {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 25px;
    position: relative;
    z-index: 9000;
}
.sidebar form
{
    box-shadow: 0 0 3px 0 #0E0E0E;
    padding: 10px;
    border-radius: 6px;
}
.sidebar::before, .sidebar::after {
    display: block !important;
}
.sidebar::before, .sidebar::after {
    content: "";
    position: absolute;
}
.sidebar::before {
    background: rgba(0, 0, 0, 0) url(../images/sidebar-shadow-left.png) no-repeat scroll center center;
    height: 396px;
    left: -31px;
    top: 46px;
    width: 31px;
}
.sidebar::after {
    background: rgba(0,0,0,0) url(../images/sidebar-shadow-right.png) no-repeat scroll center center;
    height: 600px;
    right: -43px;
    top: -10px;
    width: 43px;
}
.sidebar h4
{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    //text-transform: uppercase;
    color: rgba(255,255,255,1.00) ;
    border-radius: 6px;
    background:rgba(72,130,217,1.00 );
    padding: 10px 0 10px 10px;
}
.sidebar-left-bottom
{

}
.sidebar-bottom
{
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 150px;
}
.sidebar-bottom h4
{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    //text-transform: uppercase;
    color:rgba(255,142,0,1.00);
}
/****************** Product and education ****************/

.down-1
{
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid rgba(48,82,96,1);
    height: 0;
    left: 49%;
    position: absolute;
    width: 0;
}
.products
{
    margin-top: 30px;
    /* padding: 0 0 30px; */
    position: relative;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 10px;

}
.products h4
{
    font-size:18px;
}
.products h4 i.fa
{
    font-size: 21px;
    padding-right: 8px;
    position: relative;
    top: -3px;
}
.products ul
{
    padding-left:0;
    list-style: none;
}
.products ul li
{
    padding: 3px 0 0 10px;
}
.products ul li::before
{
    content:"\f0c1";
    font-family:FontAwesome;
    padding-right: 5px;
}
.products ul li a
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:16px;
    text-decoration:none;
}
.products ul li:hover 
{
    border-radius: 3px;
    background: -webkit-linear-gradient(#fff, #ddd, #fff);
    background: -moz-linear-gradient(#fff, #ddd, #fff);
    background: -o-linear-gradient(#fff, #ddd, #fff);
    background: linear-gradient(#fff, #ddd, #fff);
    padding-top: 10px;
    padding-bottom: 10px;
}
.products ul li:hover a
{
    color: rgba(0,0,0,1.00);
}
.education
{
    margin-top: 30px;
    /* padding: 0 0 30px; */
    position: relative;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 10px;

}
.education h4
{
    font-size:18px;
}
.education h4 i.fa
{
    font-size: 21px;
    padding-right: 8px;
    position: relative;
    top: -3px;
}
.education ul
{
    padding-left:0px;
    list-style: none;
}
.education ul li
{
    padding: 3px 0 0 10px;
}
.education ul li::before
{
    content:"\f0c1";
    font-family:FontAwesome;
    padding-right: 5px;
}
.education ul li:hover 
{
    border-radius: 3px;
    background: -webkit-linear-gradient(#fff, #ddd, #fff);
    background: -moz-linear-gradient(#fff, #ddd, #fff);
    background: -o-linear-gradient(#fff, #ddd, #fff);
    background: linear-gradient(#fff, #ddd, #fff);
    padding-top: 10px;
    padding-bottom: 10px;
}
.education ul li:hover a
{
    color: rgba(0,0,0,1.00);
}
.education ul li a
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:16px;
}
/*********** Subscripson  ************/
.subscribe
{
    padding: 60px 0 100px;
    position:relative;
}
.subscribe form label
{
    font-size: 24px;
    padding-right: 20px;
    line-height: 60px;
}
.subscribe form label.pd-left
{
    padding-left: 50px;
}
.subscribe form input[type=text]
{
    height: 45px;
    width: 300px;
    box-shadow: 0 0 3px 1px #5A5A5A;
    font-size:16px;
}
.subscribe form input[type=email]
{
    height: 45px;
    width: 300px;
    box-shadow: 0 0 3px 1px #5A5A5A;
    font-size:16px;
}
.subscribe form button[type=submit]
{
    margin-left: 20px;
}
.subscribe h3
{
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    color: #0E599C;
    padding-bottom: 20px;
    //text-transform: uppercase;
}
.subscribe h3 i.fa{
    font-size: 35px;
}
/********** Footer ************/

footer
{
    background-color: #303030;
    padding: 10px 0px 10px;
}
footer p
{
    margin-top: 0px;
    color: #616668;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 26px;

}
.ft-social a i
{
    font-size: 40px;
    color: #7d8185;
    margin-right: 10px;
    margin-bottom: 40px;
}
footer small
{
    color: #7d8185;
    font-size: 15px;
}

.abouts
{
}
.abouts h3
{
    color: #FFFFFF;

}
.abouts ul
{
    text-align:left;
}
.contact-us
{
}
.contact-us h3
{
    color: #FFFFFF;

}
footer li {
    list-style: inside;
    color: #ddd;
}
.contact-us  address
{
    color:#FFFFFF;
    text-align:left;
    padding-left: 40px;
}
.ft-social h3
{
    color: #FFFFFF;
    text-align:left;
    padding-left: 21px;
}
.footer-top
{
    border-bottom: 1px solid #5C5C5C;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.footer-top h4
{
    color: #FFFD00;
    font-size:30px;
}
.footer-bottom
{
    margin-top: 30px;
    border-top: 1px solid #666666;
    padding-top: 12px;
	background:#1d1d1d;
	margin-bottom:-9px;
	text-align:center;
}



/**** slider ****/
.darkCyan {
    background: #42bdc2;
}
.orange{
    background: #ff8a3c;
}
.darkCyan{
    background: #42bdc2;
}
.forestGreen{
    background: #7fc242;
}
.yellow {
    background: #ffd800;
}
.dodgerBlue {
    background: #388bd1;
}
.skyBlue {
    background: #a1def8;
}
.zombieGreen {
    background: #3fbf79;
}
.violet {
    background: #db6ac5;
}
.yellowLight {
    background: #fee664;
}
.steelGray {
    background: #cad3d0;
}
/*** items  **/
#owl-example .item {
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 100%;
    text-align: center;
}
#owl-example .item img {
    width: auto;
    margin: 0 auto;
    display: block;
}
#owl-example .item h3 {
    font-size: 28px;
    font-weight: 300;
    margin: 25px 0;
}
#owl-example .item h4 {
    margin: 5px 0 0;
    font-size: 20px;
}
.tabs-contents
{
    padding: 20px 10px;
}
.tabs-contents .tab-content
{
    padding: 10px 0;
    text-align:justify;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    font-size:16px;
    display:inline-block;
    width: 100%;
    background: rgba(11,145,255,1.00);
    color:#fff;
}
.tabs-contents ul
{
    padding-left:0;
}
.tabs-contents ul.tab-list li
{
    display:inline;

}
.tabs-contents ul.tab-list li a
{
    font-size: 16px;
}
.tabs-contents ul.tab-list li.active a
{
    background: rgba(11,145,255,1.00);
    color: #fff;
    font-weight: 600;
}
.tabs-contents .tab-data .boxes
{
    display:none;
}
.tabs-contents .tab-data .boxes.active
{
    display:block
}
.tabs-contents .tab-data form .form-group {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.tabs-contents .tab-content form.form-class
{
    padding-top: 15px;
}
.no-pad-lr
{
    padding-left:0;
    padding-right:0;
}
.no-pad-r
{
    padding-right:0;
}
.no-pad-l
{
    padding-left:0;
}
.inner-page
{
    background: url(../images/inner-bg.jpg);
}

/******************* update mortgages guide page css ***************************/
.inner-page .text-content
{
    background:rgba(255,255,255,0.80);
}
.left-content
{
    padding:15px 0;
}

.content-boxes strong {
    font-size: 20px;
    color: #0185C6;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: block;
}

.left-content h1.content-heading
{
    color: #0185C6;
    font-size: 25px;
    background: #E2F3FF;
    padding: 6px 0;
    border-radius: 3px;
    text-align:center;
    box-shadow: 0 0 2px 0 #E2F3FF;
    margin-bottom:0;
    font-weight: 600;
}
.text-content .left-content h3
{
    margin-bottom: 10px;
    font-size:20px;
    color: rgba(108,108,108,1.00);
    margin-top:25px;
    font-weight: 600;
}

.chrate {
    background: #ddd none repeat scroll 0 0;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.chrate i {
    color: #1b1b1b !important;
    font-size: 16px !important;
    margin: 0 7px !important;
    padding: 0;
}
.ontrate a {
    display: block !important;
}
.text-content .left-content .content-boxes
{

    background:rgba(255,255,255,1.00);
    margin-top: 0;
    padding: 25px 15px;
    border: 1px solid #C7E9F8;
}
.text-content .left-content .content-boxes p 
{
    margin-top:0;
    color:rgba(90,90,90,1.00);
    font-family: Arial, sans-serif;
    font-size:16px;
}
.text-content .left-content .content-boxes p.strongs
{
    padding-top: 10px;
    font-weight:bold;
}
.text-content .left-content .content-boxes ul, .text-content .left-content .content-boxes ol
{
    padding-top: 10px;
}
.text-content .left-content .content-boxes ul li, .text-content .left-content .content-boxes ol li
{
    color:rgba(90,90,90,1.00);
    font-family: Arial, sans-serif;
    font-size:16px;
}

/******************* End of Mortgage guide page css ***************************/

/******************* Tab-boxes ***************************/
.tab-boxes {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    background: rgb(226, 243, 255);
    border-radius: 6px;
    border-bottom: 1px solid #ddd;
}

.education-heading {
    font-weight: normal;
    position: relative;
    font-size: 21px;
    line-height: 40px;
    border-bottom: 1px solid #c7c7c7;
    color: #FFF;
    font-family: 'Muli', sans-serif;
}

.education-heading a {
    color: #474747;
    text-decoration: none;
}
.text-justify {
    text-align: center;
    padding: 20px;
}
.education-heading a:hover{
    color: #0185C6;
    text-decoration: none;
}

.education-heading a:focus{
    color: #0185C6;
    text-decoration: none;
    background: rgba(53,86,129, 0.8);
}

.tab-boxes h3 {
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0 10px;
    border-radius: 10px 10px 0 0;
    margin-block-end: 10px;
    text-transform: uppercase;
}

.tab-boxes p {
    padding-bottom: 10px;
    color: #5F5F5F;
}

.tab-boxes a:hover
{
    //background:rgba(69,95,130,1.00);
    color:#0185C6;
}
.tab-boxes a p:hover, .tab-boxes a h3:hover
{
    color:rgba(255,255,255,1.00);
}
.tab-boxes .col-x
{
    line-height: 11;
	background:#fff;
}
.tab-boxes .view-m-btn
{
}
@media screen and (min-width: 1024px)
{
    .tab-boxes .tabbox-img
    {
     
    }
}
@media screen and (max-width: 991px)
{
    .tab-boxes
    {
        width: 100%;
    }
}
.right-sidebar
{
    margin: 35px 0 20px;
}
.right-sidebar .panel-group .panel-heading
{
    background:linear-gradient(#42B2EA, #0185C6 );
}
.right-sidebar .panel-group .panel-title
{
    position:relative;
    color:rgba(255,255,255,1.00);
}
.right-sidebar .panel-group .panel-body
{
    padding:0;
}
.right-sidebar .panel-group .panel-body ul
{
    list-style: none;
    padding-left:0;
}
.right-sidebar .panel-group .panel-body ul li a
{
    font-size:15px;
    font-weight:400;
    padding: 5px  10px;
    display:inline-block;
    width: 100%;
    color: rgba(70,146,195,1.00);
    text-decoration:none;
}
.right-sidebar .panel-group .panel-body ul li a::before
{
    //content:"\f205";
    font-family:FontAwesome;
    padding-right:15px;
    font-weight:bold;
    color:rgba(255,79,0,1.00);
}
.right-sidebar .panel-group .panel-body ul li a:hover
{
    text-decoration: none;
    background: rgb(176, 224, 246);
    color:rgba(255,255,255,1.00);
}
.right-sidebar ul.levels
{
    padding-left:0;
    list-style:none;
    margin-bottom: 0;
}
right-sidebar ul.levels li.level1
{

}
.right-sidebar ul.levels li.level1 a, .right-sidebar ul.levels li.level2 a, .right-sidebar ul.levels li.level3 a
{
    background: #0185C6;
    color: rgba(255, 255, 255, 1);
    display: block;
    width: 100%;
    padding: 5px 20px;
    font-size:16px;
    position:relative;
}
.right-sidebar ul.levels li.level1 a::before, .right-sidebar ul.levels li.level2 a::before, .right-sidebar ul.levels li.level3 a::before
{
    padding-right: 5px;
    color:rgba(255,255,255,1.00);
}
.right-sidebar ul.levels li.level1 a.level1Btn span, .right-sidebar ul.levels li.level2 a.level2Btn span, .right-sidebar ul.levels li.level3 a.level3Btn span
{
    position:absolute;
    right:20px;
}
.right-sidebar ul.levels li.level1 a:hover, .right-sidebar ul.levels li.level2 a:hover ,.right-sidebar ul.levels li.level3 a:hover
{
    text-decoration: none;
}
.right-sidebar ul.levels li.level1 ul, .right-sidebar ul.levels li.level2 ul, .right-sidebar ul.levels li.level3 ul
{
    display: none;
    list-style:none;
    padding-left:0;
}
.right-sidebar ul.levels li.level1 ul li a, .right-sidebar ul.levels li.level2 ul li a, .right-sidebar ul.levels li.level3 ul li a
{
    background: none;
    color: rgb(235, 108, 39);
    font-size:16px;
    padding-left: 10px;
}
.right-sidebar ul.levels li.level1 ul li a:hover, .right-sidebar ul.levels li.level2 ul li a:hover, .right-sidebar ul.levels li.level3 ul li a:hover
{
    text-decoration: none;
    background:#EB6C27;
    color: rgba(255,255,255,1.00);
    padding-left: 15px;
}
.right-sidebar ul.levels li.level1 ul li a:hover::before, .right-sidebar ul.levels li.level2 ul li a:hover::before, .right-sidebar ul.levels li.level3 ul li a:hover::before
{
    content:"\f101";
    font-family:FontAwesome;
    padding-right: 5px;
    font-weight:bold;
}

.right-btn
{
    position:absolute;
    right:0;
    top: -5px;
}
.right-btn1
{
    position:absolute;
    right:0;
}
.content-boxes
{

}
.content-boxes h3
{
    margin:10px 0 0;
    font-size:28px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #C5C5C5;
}
.content-boxes p
{
    font-size:16px;
    color: rgba(46,35,35,1.00);
    text-align: justify;
    margin-bottom:0;
    padding-top: 10px;
}
.content-boxes::after
{
    //content:"\f103";
    position: relative;
    color: rgba(45,160,255,1.00);
    font-family:FontAwesome;
    font-size: 2em;
    left: 47%
}
.inner-page .text-content .content-boxes::after
{
    content:"";
}
.best-r-heading
{
    color:rgba(0,116,255,1.00);
    text-align:center;
}
.location-box
{
    padding: 20px 0;
    text-align:center;
    position:relative;
}
.locations
{
    display:block;
    padding: 10px;
    background: rgba(68,128,138,1.00);
    border: 1px solid #999;
    font-size: 18px;
    cursor:pointer;
    position:relative;
    color:rgba(255,255,255,1.00);
}
.locations:hover
{
    text-decoration: none;
    color:rgba(232,255,0,1.00);
}
.locations span
{
    margin-right: 10px;
}
.location-name-box
{
    display:none;
    position:absolute;
    z-index:9999;
    width: 100%;
}
.locform
{
    width: 100%;
}
.locform input[type=text]
{
    width: 100%;
    padding: 10px;
}
.best-rate-box {
    display: inline-block;
    width: 100%;
    background: rgba(255,255,255,1.00);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px #c2c0c0;
    margin-bottom: 20px;
    margin-top:33px;
}
.best-rate-box h4
{
    margin:0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: rgba(112,84,255,1.00);
    font-weight:600;
}
.table-rates
{
    background:rgba(255,255,255,1.00);
}

.table-rates, .table-rates td, .table-rates th
{
    border: 1px solid #BCBCBC;
    text-align:center;
}
.fixed
{
    width: 100%;
}
.variable
{
    width: 40%;
}
.variable td
{
    widt:100%;
}
.variable .mob-tb-td
{
    display: none;
}

@media screen and (max-width: 991px)
{
    .fixed
    {
        width: 100%;
    }
    .variable
    {
        width: 100%;
    }
    .variable td
    {
        widt:75%;
    }
    .variable .mob-tb-td
    {
        display: block;
    }
}
.table-rates th
{
    padding: 5px 0;
    color:rgba(255,255,255,1.00);
    font-size:20px;
}
.table-rates td
{
    height: 60px;
}
.table-rates tr:first-child
{
    background: linear-gradient(#c8c6c6, #515050 ) !important;
}
.table-rates tr:nth-child(odd)
{
    background: rgba(219,225,255,1.00);
}
.terms
{
    font-size:18px;
    font-weight:bold;
    //text-transform: uppercase;
}
.type
{
    font-weight:600;
    font-size:16px;
}
.table-rates.fixed a {
    font-weight: bold;
}
.rt-rate
{
    padding-top: 0.2em;
    color: #0185c6;
    font-size: 27px;
}
.rt-provider
{
    width: 40%;
    float:left;
    padding-top: 0.5em;	
}
.provider-logo
{
    display:block;
}
.get_this-rate a
{
    display:block;
}
.provider-logo
{
    color:rgba(255,142,0,1.00);
}
.compare
{
    display:inline-block;
}
.compare a
{
    font-size: 14px;
    color: rgba(54,108,255,1.00);
    display:block;
}
.rh-button
{
    font-size: 14px;
}
.brokers
{

    background:rgba(255,255,255,1.00);
    display:inline-block;
    width: 100%;
}
.borker-head {
    background: #ddd none repeat scroll 0 0;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin-top: 20px;
    padding: 13px 0;
    text-align: center;
    width: 100%;
}
.brokers h3 {
    border: medium none;
    color: #464646 !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left;
}
.brokerimg {
    border: 2px solid #fff;
    box-shadow: 0 1px 2px #000;
    width: 75px;
}
.borker-head h3
{
    margin:0;
    padding: 5px 0;
}
.broker-list
{
    width: 100%;
    clear: both;
    border-bottom: 1px solid #999;
    display: inline-block;
	padding:8px 0;
}
.brockerlink {
    background: #eb6c27 none repeat scroll 0 0;
    box-shadow: 0 1px 1px #000;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 7px 13px;
    text-align: center;
    width: 100%;
	font-size:14px;
}
.brockerlink:hover {
    background: #d65712 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.broker-list p, .broker-list
{
    font-size: 12px;
}
.linkb {
    color: #0185c6;
    font-size: 17px;
    font-weight: bold;
}
.broker-list button.btn
{
    margin-top: 30px;
}
.map-bottom
{
    background-color: rgba(255,142,0,1.00);
    color: rgba(255,255,255,1.00);
    display:inline-block;
    width: 100%;
    padding: 10px 0;
    text-align:center;
}
.map-bottom label
{
    margin-bottom: 0;
    font-size: 16px;
}
.map-bottom input[type=text]
{
    padding: 10px;
    border-radius: 3px;
    color:rgba(81,81,81,1.00);
}
.map-bottom select
{
    padding: 6px;
    border-radius: 3px;
    color:rgba(81,81,81,1.00);
}
#agentModal1
{
    z-index: 999999;
}

#agentModal2 {
    z-index: 999999;
}

.borker-details-top
{
    background-color:rgba(255,255,255,1.00);
    padding: 30px;
}
.agentName
{
    color: rebeccapurple;
    display: block;
    font-size: 32px;
}
.str-rating
{
    padding-top: 10px;
    display:block;
    color:rgba(255,158,0,1.00);
}
.agent-logo
{
    display:block;
    padding: 10px 0 0;
    color:rgba(0,155,255,1.00);
    font-size:70px;
}
.social-icons
{
    text-align:center;
}
.social-icons a
{
    font-size: 50px;
}
.social-icons a i.fa-facebook-square
{
}
.social-icons a i.fa-twitter-square
{
    color:rgba(85,168,255,1.00);
}
.social-icons a:hover i.fa-twitter-square
{
    color: rgba(20,105,152,1.00);
}
.broker-details-bottom
{
    background: rgba(220,220,220,1.00);
    padding: 30px 0 0;
    border: 2px solid #ccc;
}
.broker-details-bottom  ul
{
    padding-left: 20px;
    padding-right: 20px;
}
.broker-details-bottom  ul li a
{
    font-size: 18px;
    padding: 10px 30px;
}
.broker-details-bottom .tab-content
{
    padding: 10px 20px;
    background:rgba(255,255,255,1.00);
}
.broker-details-bottom .tab-content .tab-pane
{
    padding: 5px 10px;
}
.broker-details-bottom .tab-content .tab-pane, .broker-details-bottom .tab-content .tab-pane p
{ font-size:16px;
  text-align:justify;
}
.borders-detail-footer
{
    margin-top: 30px;
    margin-bottom: 20px;
    border:2px solid #fff;
}
.borders-detail-footer .map
{
    border-top: none;
}
.borders-detail-footer .map-bottom-details
{
    background:rgba(0,227,255,1.00);
    padding: 10px 0;
}
.borders-detail-footer .map-bottom-details address
{
    padding: 5px 20px;
    color:rgba(255,255,255,1.00);
    margin-bottom:0;
    font-size:18px;
    text-align:center;
    font-weight:bold;
}
.inner-page-content
{
    background: rgba(255,255,255,1.00);
}
.inner-page-content .row
{
    margin-left:0;
    margin-right:0;
}
.points {
    list-style-type: none;
    padding-left: 20px;
    color: #666;
}
.points li {
    position: relative;
    padding: 11px 0 0 19px;
}
.points li:before {
    position: absolute;
    top: 10px;
    left: 0;
    font-family: FontAwesome;
    content: "\f058";
    color: #EB6C27;
}
.panel-body li {
    padding: 2px;
    background: #E2F3FF;
    margin-bottom: 1px;
}
.headpay {
    background: rgba(176, 224, 246, 0.56);
    margin: -10px -15px;
    padding: 15px 13px 42px 12px;
    margin-bottom: 10px;
}
.headpay img {
    float: left;
    margin-right: 19px;
    width: 114px;
}
.headpay p {
    font-size: 15px!important;
    padding-top: 20px;
    line-height: 22px;
    color: #5084A9!important;
}
.headpay strong {
    border-bottom: 1px solid #ACBACC;
    margin-left: 152px;
}
.ratefind {
    -moz-box-shadow: rgba(0,0,0,0.1) 0 4px 0;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 4px 0;
    box-shadow: rgba(0,0,0,0.1) 0 4px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #CDD6D9;
    background-color: #C7E9F8;
    display: table;
    width: 100%;
    margin: 1.5em 0;
}
.ratefind .text {
    width: 62%;
    background-color: #E5F7FF;
    border-right: 1px solid #CDD6D9;
    padding: 34px 18px;
}
.ratefind .text .title {
    margin: 0;
    font-size: 1.25em;
    color: #6FA626;
    text-align:center;
}
.ratefind .ratelist .title {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    background-color: #6FA626;
    font-size: 1.25em;
    padding: 0.25em 0;
}
.ratefind .text .description {
    padding-top: .75em;
    margin: 0;
    text-align: center;
}
.ratefind .ratelist.rate .details {
    display: block;
    margin-top: 2em;
}
.ratefind .ratelist {
    position: relative;
    width: 38%;
    text-align: center;
    vertical-align: middle;
}
.ratefind>* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
}
a.ratebutton {
    background: #49688E;
    padding: 8px 21px;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 2px #000;
}
i.fa.fa-arrow-circle-down {
    margin: 18px;
    color: #49688E;
}
.cmnccal {
    margin: 70px 0 30px 0;
    box-shadow: 0px 1px 2px #000;
    padding: 11px;
}
.left-details {
    width: 100%;
    float: left;
    position: relative;
    background: #FFF;
}
.right-details .right-inner, .inner {
    overflow: hidden;
}
.mortcal {
    background: #E2F3FF;
    width: 100%;
}
.mortcal td {
    padding: 16px;
    font-weight: bold;
    font-size: 19px;
    max-width:100%;
}
.mortcal th {
    padding: 18px;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(#AFAFAF, #383838);
    color: #fff;
}
.mortcal tr {
    background: linear-gradient(#FFFFFF, #d6d6d6);
    border-bottom: 1px solid #fff;
}
.result {
    text-align: center;
    background: #0185C6 !important;
    font-size: 15px;
}
.result td {
    color: #fff;
	padding:9px;
}
.mortcal input {
    border: 1px solid #B9BABB;
    padding: 6px 27px;
    border-radius: 4px;
    width: 100%;
}
.result input {
    width: 225px;
}
.mortcal .info {
    text-align: right;
    color: #6B6B6B;
    font-weight: 400;
}

.mortcal select#amort1 {
    background: #EB6C27;
    color: #fff;
    padding: 5px 6px;
    border: 1px solid #EB6C27;
    box-shadow: 0 2px 1px #000;
    font-size: 17px;
}
.mortcal .info1 {
    background: #E2F3FF;
}
.mortcal1 td {
    font-size: 16px;
}
.info1 td {
    color: #fff;
}
.mortcal1 tr {
    background: #eee;
}
.ratep span {
    font-size: 56px;
    font-weight: 500;
	color:#000;
}
a.buttona {
    background: #EB6C27;
    padding: 8px;
    border-radius: 7px;
    box-shadow: 0 1px 2px #000;
    color: #fff!important;
    margin: 0 10px;
}
a.buttonc {
    background: #0185C6;
    padding: 8px;
    border-radius: 7px;
    box-shadow: 0 1px 2px #000;
    color: #fff!important;
    margin: 0 10px;
}
td.cntr {
    text-align: center;
}
.mortcal1 a {
    color: #EB6C27;
}
.mortcal .info1 {
    background: #B3B3B3;
}
td.ratep {
    text-align: center;
    font-size: 19px;
    background: #ddd;
	font-weight:500;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}


#ribbon-container {
    position: absolute;
    overflow: visible;
    font-size: 22px;
    line-height: 18px;
    margin-top:10px;
    z-index: 99;
    left: 0px;
}



#ribbon-container span {
    display: block;
    padding: 20px;
    position: relative;
    background: #0089d0;
    overflow: visible;
    height: 58px;
    color: #fff;
    text-decoration: none;
}

#ribbon-container span:before {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
    border-top: 15px solid #004a70;
    border-left: 15px solid transparent;
}

#ribbon-container span:after {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    right: -29px;
    border-top: 29px solid #0089d0;
    border-bottom: 29px solid #0089d0;
    border-right: 29px solid transparent;
    border-left: 29px solid transparent;
}
.one, .three {
    font-size: 19px;
    color: #0185C6;
    font-weight: bold;
}
.two {
    font-size: 19px;
    font-weight: bold;
    color: #3C3C3C;
}
a.add-rate {
    font-size: 15px;
}
a.add-rate:hover {
    text-decoration: none;
}
.add-rate i {
    display: block;
}
#mort-change-val{
    padding: 5px 0px;
    margin: 10px;
    font-size: 19px;
    font-weight: 600;
    border: 1px solid rgb(166, 166, 166);
    width: 180px;
}

#insu-change-val {
margin: 10px;
border: 1px solid #111;
background: transparent;
width: 180px;
padding: 5px 0px;
font-size: 16px;
border: 1px solid #ccc;
height: 34px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background: url(../images/arrow-down.png) 96% / 15% no-repeat #eee;
}

tr {
    background: linear-gradient(#FFFFFF, #d6d6d6);
}
span.mvalue {
    text-align: center;
    display: inline-table;
    width: 139px;
    float: left;
    margin-right: -72px;
}
td {
       font-size: 16px;
    color: #353535;
    font-weight: bold;
    text-align: center;
	    padding: 14px!important;
    vertical-align: middle!important;
}
.rchange {
    padding: 12px!important;
}
.linkc {
    font-weight: bold;
    color: #1b1b1b;
}
span.mtye {
    float: left;
    width: 155px;
    margin-top: 18px;
}
.table-rates td:nth-child(1n) {
    background: #F7F7F7;
}
.table-rates td:first-child {
    background: #eee;
    color: #353535;
    font-size: 16px;
    font-weight: 600;
}
.linkc {
    font-weight: bold;
    background: #585555;
    padding: 7px;
    color: #fff;
    border-radius: 6px;
}
.linkc:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}

.mcal {
    width: 100%;
    background: rgba(255,255,255,1.00);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px #c2c0c0;
	margin: 20px 0;
}



.pageheed {
    font-size: 21px !important;
    font-weight: 600;
    position: relative;
    background: #0185C6;
    color: #fff;
    text-align: center;
    height: 54px;
    padding-top: 12px;
    z-index: 9;
    width: 60%;
    margin: 22px auto;
    margin-bottom: -10px;
}
.pageheed:before, .pageheed:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #0185C6;
}
.pageheed:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.pageheed:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
  z-index:-1;
}
.pageheed .design-ribbon:before, .pageheed .design-ribbon:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #043248 transparent transparent transparent;
 bottom: -1em;
}
.pageheed .design-ribbon:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.pageheed .design-ribbon:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
.mortcal td select {
    background: #797979;
    padding: 6px 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #888;
    color: #fff;
}
a#rate-choose {
    background: #EB6C27;
    padding: 4px 10px;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    border-radius: 7px;
    box-shadow: 0 2px 2px #000;
}
a#rate-choose:hover {
    background:#D65712;
	text-decoration:none;
}

#chmc-ins, #emi, #mort-reqd {
    color: #454545;
}
.clear{
  clear:both;	
}
.col3 {
    float: left;
    width: 33%;
    padding: 13px;
    text-align: center;
}
.col3 img {
    padding-bottom: 18px;
}
.middle-content .col3 {
    background: #fff;
    margin: 12px;
    width: 31%;
    padding: 0!important;
}
.middle-content .col3 a {
    background: #0185C6;
    display: block;
    color: #fff;
    padding: 8px;
}
.col4 {
    float: left;
    width: 274px;
    max-width: 100%;
    text-align: center;
    border: 1px solid #0072ab;
    padding: 4px 0 22px 0;
    background: #0185c6;
    color: #ffffff;
}
.search-box .form-group {
    float: left;
    width: 248px;
    margin: 0 21px 0 0;
    max-width: 100%;
}
.fvprice {
    font-size: 49px;
    display: block;
    font-weight: 400;
}
.btn.btn-danger.btn-lg.get-rates {
    margin-top: 32px;
}
.search-box .form-control {
    background: #c7c7c7;
    padding: 10px;
    height: 43px;
}
.newsl {
    background: #EB6C27;
    padding: 10px;
	color:#fff;
}
.whyus h3 {
    color: #fff;
}
.slinl i {
    color: #fff;
    font-size: 33px;
}
.slinl {
    float: right;
}
.listl{
   float:left;
}
.slinl span {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding-block-end: 8px;
}
footer a, footer p {
    color: #ddd;
}
.colm4 {
    float: left;
    width: 262px;
    max-width: 100%;
    margin-right: 30px;
}
.colm4 h3 {
    border-bottom: 1px dashed #3B3B3B;
    padding: 10px 0;
}
.processpart {
    width: 335px;
    max-width: 100%;
    margin: 18px;
}
.processpart a {
    background: #0185c6;
    padding: 10px 0;
    display: block;
    color: #fff;
    border-radius: 0px 0 8px 8px;
    width: 99%;
    margin: 0 auto;
}
.processpart img {
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
}
img.sdesign {
    float: left;
    margin-top: 8px;
    margin-right: 12px;
}

/* testimonials */


/* testimonials slider geometry */
.tsl {
 padding:1em;
}
.tsl h1 {
    text-align: center;
    padding: 10px;
    color: #000000;
    text-transform: uppercase;
    font-size: 25px;
}
.tsl-list {
 list-style-type:none;
 margin:0;
 padding:0;
 position:relative;
 overflow:hidden;
}
.tsl-content p {
    margin-top: 0;
    font-size: 17px;
    text-align: center;
    color: #fff;
    font-weight: 500;
}
.tsl-item {
 position:relative;
 top:0;
 left:100%;
 margin-left:-100%;
 width:100%;
 float:left;
 animation: tsl-fade-in-out 25s infinite;
 animation-play-state:running;
}
.tsl-item a {
    text-align: center;
    display: block;
    font-size: 21px;
    color: #000;
}

/* lets hide all items from second */
.tsl-item + .tsl-item {
 opacity:0;
}

/* animation */

/* animation shift */
/* negative delay needed to pause works correctly on hover */
.tsl-item:nth-child(2) {
 animation-delay: -20s;
}
.tsl-item:nth-child(3) {
 animation-delay: -15s;
}
.tsl-item:nth-child(4) {
 animation-delay: -10s;
}
.tsl-item:nth-child(5) {
 animation-delay: -5s;
}
/*
we have 5 items.
we want each slide plays ≈5s

each slide will play 1/5 of animation = 20%
1% of animation is for transitions (fading)
*/

@keyframes tsl-fade-in-out {
 0% {
  opacity:0;
  z-index:2;
 }
 1% {
  opacity:1;
  z-index:2;
 }
 20% {
  opacity:1;
 }
 21% {
  opacity:0;
  z-index:1;
 }
 100% {
  opacity:0;
 }
}

/* pause on hover */
.tsl-list:hover .tsl-item {
 animation-play-state:paused;
}

/* testimonials theme */
.tsl-content {
 font: 12px/1.4 Arial;
}
.tsl-content p {
 margin-top:0;
}

.tsl-meta {
 font: 11px/1.4 Arial;
 text-align:right;
}
.tsl-meta p {
 margin-bottom:0;
}
.btn.btn-success.btn-lg.subsc {
    background: #C24300;
    border: 1px solid #B23302;
}
.colimg {
    padding: 24px 41px;
    background: #c8e8ff;
}
.view-m-btn {
    background: #eb6c27;
    padding: 4px 10px;
    font-size: 14px;
    border: 1px solid #ff5a00;
}
#locationList {
    padding: 10px;
    font-size: 14px;
    position: absolute;
    width: 247px;
}
.form-class label {
    color: #4f4f4f;
}
.form-class input, .form-class textarea {
    background: #f1f1f1;
}
.bform {
    float: left;
    margin-right: 22px;
    max-width: 100%;
    width: 374px;
}
label {
    font-size: 13px;
}
.form-group textarea, .ratefield input {
    width: 98%;
}
.address h2 {
    border-bottom: 1px solid #d0d0d0;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 11px;
    padding: 14px 0;
    text-transform: uppercase;
}
.address {
    color: #434343;
    margin-top: 65px;
}
.address > span {
    display: block;
    margin-bottom: 12px;
}
.address a {
    color: #535353;
    font-weight: 400;
}
.manager {
    background: #0185c6;
    color: #fff;
    margin: 50px 0;
    padding: 19px 15px;
    text-align: center;
}
.manager > a {
    background: linear-gradient(#ed7331,#b33f00);
    display: table;
    margin: 15px auto;
    padding: 8px 16px !important;
    font-weight: bold;
    color: #fff;
}
.manager a:hover{
 background: linear-gradient(#b33f00, #ed7331);
 text-decoration:none;
}
.table th {
    background: linear-gradient(#AFAFAF, #383838);
    color: #fff;
	    text-align: center;
    font-size: 19px;
}
.form-control.ratev, .form-control.ratef {
    margin: 0 auto;
    width: 75% !important;
	color: #d15a19;
    font-weight: 600;
}
form.form-class.ratetable {
    padding: 28px;
}