<html lang="en">
    <body>
        <script language="JavaScript" 
                src="https://www.iplocationtools.com/iplocationtools.js?key=7b71786a7773756d6a207270">            
        </script>
        <script language="JavaScript">
           document.write(ip2location_city() + ', ' + ip2location_region() + ', ' + ip2location_country_long());
        </script>
    </body>
</html>