{#<meta name="google-site-verification" content="zx9fSFiZQfKEzrajSkrtYFWSUyLVyHgogGpE0bpWCmo">#}
<meta name="google-site-verification" content="dw43VgQUHkvWEyqRkAgOaCmOLcDlF95LDdYw86rdz3g">
<!-- Global site tag (gtag.js) - Google Analytics -->
{#<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121546268-1"></script>#}
{#<script>#}
{#  window.dataLayer = window.dataLayer || [];#}
{#  function gtag(){dataLayer.push(arguments);}#}
{#  gtag('js', new Date());#}

{#  gtag('config', 'UA-121546268-1');#}
{#</script>#}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DCHW5GT57B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QGHFNBYDQW');
</script>

 {#/*  <script type="application/ld+json">
{#// // { "@context" : "http://schema.org",#}
{#// //   "@type" : "RateTrade.ca",#}
{#// //   "name" : "RateTrade",#}
{#// //   "url" : "https://www.ratetrade.ca/",#}
{#// //   "sameAs" : ["https://www.facebook.com/ratetrade",#}
{#// //     "https://twitter.com/ratetrade",#}
{#// //     "https://www.linkedin.com/company/ratetrade"]#}
{#// // }#}
{#// </script>#}
<script type="application/ld+json">{
"@context": "https://schema.org/",
"@type": "WebSite",
"url": "https://www.ratetrade.ca/",
"name": "RateTrade",
"alternateName": null
}</script><script type="application/ld+json">{
"@context": "https://schema.org",
"@type": "FinancialService",
"@id": "https://www.ratetrade.ca/",
"image": "https://www.ratetrade.ca/bundles/assets/img/logo.png",
"priceRange": "$",
"telephone": "+1-905-676-0008",
"additionalType": "Mortgage brokerage",
"name": "RateTrade",
"logo": "https://www.ratetrade.ca/bundles/assets/img/logo.png",
"description": "Ratetrade.ca is your one-stop shop for doing a quick search and easy comparison of prevailing mortgage rates in Canada to make smart financial decisions. We share knowledge, information, expert advice and easy to use mortgage comparison tools to find you the ideal mortgage rate. When you apply for a mortgage using our portal, we represent you to several reputed lenders and banks in Canada to assure you can compare from the best mortgage options available in the market.",
"openingHours": "Mon-sat 9:00 - 17:00",
"geo": {
"@type": "GeoCoordinates",
"latitude": "43.7087875",
"longitude": "-79.6530671"
},
"url": "https://www.ratetrade.ca/",
"sameAs": [
"https://www.facebook.com/ratetrade/",
"https://twitter.com/ratetrade",
"https://instagram.com/ratetrade",
"https://www.linkedin.com/company/ratetrade",
"https://pinterest.com/ratetrade/"
],
"contactPoint": {
"@type": "ContactPoint",
"telephone": "+1-905-676-0008",
"contactType": "customer service",
"email": "contact@ratetrade.ca",
"contactOption": "",
"areaServed": "Canada",
"availableLanguage": null
},
"address": {
"@type": "PostalAddress",
"addressCountry": "Canada",
"addressLocality": "Mississauga",
"addressRegion": "Ontario",
"postalCode": "L4T 0A5",
"streetAddress": "2960 Drew Rd. Unit# 139"
}
}</script><script type="application/ld+json">{
"@context": "https://schema.org",
"@type": "FinancialService",
"name": "Mortage loan",
"description": "Ratetrade.ca is your one-stop shop for doing a quick search and easy comparison of prevailing mortgage rates in Canada to make smart financial decisions. We share knowledge, information, expert advice and easy to use mortgage comparison tools to find you the ideal mortgage rate. When you apply for a mortgage using our portal, we represent you to several reputed lenders and banks in Canada to assure you can compare from the best mortgage options available in the market.",
"image": {
"@type": "ImageObject",
"url": "https://www.ratetrade.ca/bundles/assets/img/logo.png",
"height": 95,
"width": 203
},
"priceRange": "$",
"telephone": "905-676-0008",
"address": "2960 Drew Rd. Unit# 139, Mississauga ON L4T 0A5",
"aggregateRating": {
"@type": "AggregateRating",
"ratingValue": "5",
"bestRating": "5",
"worstRating": "1",
"ratingCount": "2"
}
}</script>



  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<script src='https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit'></script>
    <script>function googleTranslateElementInit(){ new google.translate.TranslateElement({ pageLanguage: 'en', autoDisplay: 'true', layout: google.translate.TranslateElement.InlineLayout.VERTICAL }, 'google_translate_element'); }</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 {#/*<meta http-equiv="Cache-control" content="public">*/#}
 <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MGG4G4C');</script>
<!-- End Google Tag Manager -->
<style>
.my-float{
	margin-top:16px;
}
.btn-whatsapp-pulse {
	position:fixed;
	width:60px;
	height:60px;
	bottom:77px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
	justify-content: center;
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(104 193 220);
    }
    80% {
        box-shadow: 0 0 0 14px rgb(104 193 220);
    }
}

.btn-whatsapp-pulse-border {
	bottom: 120px;
	right: 20px;
	animation-play-state: paused;
}

.btn-whatsapp-pulse-border::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	padding: 25px;
	border: 5px solid #25d366;
	opacity: 0.75;
	animation-name: pulse-border;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse-border {
	0% {
		padding: 25px;
		opacity: 0.75;
	}
	75% {
		padding: 50px;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

#twitter-widget-0{
   margin-top:-46px!important;
}
</style>
</head>
<body id="home" class="wide">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGG4G4C"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- WRAPPER -->
<div class="wrapper"></div>
<div class="topbbar"> <ul class="social-icons">
                                        
                                    </ul></div>
    <!-- HEADERs -->
    <header class="header fixed">
        <div class="header-wrapper">
            <div class="container">

                <!-- Logo -->
                <div class="logo">
                    <a href="https://www.ratetrade.ca"><img src="{{asset('./bundles/assets/img/logo.png')}}" alt="Ratetrade Mortgage Rates in Canada"></a>
                </div>
                <!-- /Logo -->

                <!-- Mobile menu toggle button -->
                <a href="#" class="menu-toggle btn ripple-effect btn-theme-transparent"><i class="fa fa-bars"></i></a>
                <!-- /Mobile menu toggle button -->

                <!-- Navigation -->
                <nav class="navigation closed clearfix">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!-- navigation menu -->
                            <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                            <ul class="nav sf-menu">
                                <li class="active"><a href="https://www.ratetrade.ca"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                               
                                <li><a href="#"><i class="fa fa-calculator" aria-hidden="true"></i> Mortgage</a>
                                   <ul>
                                     <li><a href="https://ratetrade.ca/bank-mortgage-rates"><i class="fa fa-university" aria-hidden="true"></i> Bank Mortgage Rates</a></li>
                                     <li><a href="#"><i class="fa fa-calculator" aria-hidden="true"></i> Calculators</a>
                                          <ul>
                                             <li><a href="https://www.ratetrade.ca/mortgage-payment-calculator">Mortgage Payment</a></li>
                                             <li><a href="https://www.ratetrade.ca/payment-analyzer-calculator">Payment Analyzer</a></li>
                                             <li><a href="https://www.ratetrade.ca/income-calculator">Income Calculator</a></li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-affordability">Mortgage Affordability</a></li>
                                 
                                             <li><a href="https://www.ratetrade.ca/land-transfer-tax">Land Transfer Tax</a></li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-refinance-calculator">Refinance Calculator</a></li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-refinance-equity">Refinance Equity</a></li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-refinance-penalty">Refinance Penalty</a></li>
                                             
                                          </ul>
                                     </li>
        			                 <li><a href="https://www.ratetrade.ca/buying-home-canada"><i class="fa fa-book"></i> Home Buying Process</a>
                                            <ul>
                                               <li><a href="https://www.ratetrade.ca/creditworthiness">Credit Worthiness</a></li>
                                               <li><a href="https://www.ratetrade.ca/mortgage-affordability-rules">Mortgage Affordability Rules</a></li>
                                               <li><a href="https://www.ratetrade.ca/mortgage-down-payment">Mortgage Down Payment</a></li>
                                               <li><a href="https://www.ratetrade.ca/mortgage-default-insurance">Mortgage Default Insurance</a></li>
                                               <li><a href="https://www.ratetrade.ca/mortgage-payment-frequency">Mortgage Payment Frequency</a></li>
                                               <li><a href="#">Steps to get the key to your dream house</a>
                                            <ul>
                                        <li><a href="https://www.ratetrade.ca/tax-credit-first-time-home-buyers">First Time Home Buyers</a></li>
                                        <li><a href="https://www.ratetrade.ca/home-buying-process">Home Buying Process</a></li>
                                     </ul>
                                    </li>
                                        <li><a href="https://www.ratetrade.ca/land-transfer-tax-rebate">Land Transfer Tax Rebate</a>
                                        <ul>
                                        <li><a href="https://www.ratetrade.ca/closing-cost-overview">Closing Cost</a></li>
                                        </ul>
                                        </li> 
                                        <li><a href="https://www.ratetrade.ca/registered-requirement-saving-plan">R R S P</a></li>
                                    </ul>
                                </li>
                                <li><a href="https://www.ratetrade.ca/renewing-guide"><i class="fa fa-book"></i> Renewing Your Mortgage</a>
                                          <ul>
                                             <li><a href="https://www.ratetrade.ca/mortgage-renewal-process">Mortgage Renewal Process</a></li>
                                             <li><a href="https://www.ratetrade.ca/early-mortgage-renewal">Early Mortgage Renewal</a></li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-renewal-denial-situations-impact">Renewal Denial Situations</a></li>
                                             <li><a href="https://www.ratetrade.ca/switching-lenders">Switching Lenders</a></li>
                                          </ul>
                                     </li>   
        			     <li><a href="https://www.ratetrade.ca/mortgage-refinancing-guide"><i class="fa fa-book"></i> Mortgage Refinancing Guide</a>
                                          <ul>
                                             <li><a href="https://www.ratetrade.ca/reasons-to-refinance">Reasons to Refinance</a></li>
                                             <li><a href="https://www.ratetrade.ca/blended-mortgage">Blended Mortgage</a></li>
                                             <li><a href="https://www.ratetrade.ca/home-equity-line-of-credit">Home Equity Line of Credit</a></li>
                                             <li><a href="https://www.ratetrade.ca/cost-to-refinance">Cost to Refinance?</a></li>
                                             <li><a href="https://www.ratetrade.ca/disadvantages-of-mortgage-refinancing">Disadvantages</a></li>
                                          </ul>
                                     </li>
                                             <li><a href="https://www.ratetrade.ca/mortgage-information-center"><i class="fa fa-book"></i> Mortgage Information Center</a>
                                          <ul>
                                                <li><a href="https://www.ratetrade.ca/gross-debt-ratio">Gross Debt Ratio</a></li>
                                            </ul>
                                     </li>     
                                   </ul>    
                                </li>
                                <li><a href="https://www.ratetrade.ca/debt-consolidation"><i class="fa fa-book" aria-hidden="true"></i> DEBT CONSOLIDATION</a>
                               {# <li><a href="#"><i class="fa fa-podcast" aria-hidden="true"></i> Insurance</a>#}
                               {#</li>#}
                               <li><a href="https://www.ratetrade.ca/blog/">Blog</a>
                               </li> 
                                <li><a href="https://www.ratetrade.ca/contact-us">Contact Us</a></li>

                            </ul>
                            <!-- /navigation menu -->
                        </div>
                    </div>
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar"></div>
                </nav>
                <!-- /Navigation -->

            </div>
        </div>

    </header>
    <!-- /HEADER -->
 <a href="https://api.whatsapp.com/send?phone=+1905-676-0008&text='Hi%20I%20am%20interested%20in%20knowing%20more%20about%20Ratetrade.ca.%20Please%20Share%20the%20details.%20My%20Name%20is'" class="btn-whatsapp-pulse">
	<i class="fa fa-whatsapp my-float"></i>
</a>