<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Logout</title>
<link rel="stylesheet" type="text/css" href="/symfonyratetrade/web/bundles/acmedemo/css/common.css">
<link rel="stylesheet" type="text/css" href="/symfonyratetrade/web/bundles/acmedemo/css/login.css">
</head>
<body>
<div class="header">
<div class="wrapper">
<a href="#" onclick="#" class="home-ico">&nbsp;</a>
  <span class="page-name" style="width:60%;">Logout</span>
  </div>
</div>
<div class="headerfix"></div>
<div class="wrapper bodywrapper">
          <div style="text-align: center;">
          You have successfully logged out
          <br/><br/>
          <a href="{{path('login')}}" >Login</a> &nbsp;or&nbsp; <a href="{{path('home')}}" >Home</a> 
          </div>
</div> 
</body>
</html>